<form class="form-signin" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <img class="mb-4" src="../../assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
  <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
  
  <label for="login" class="sr-only">Login</label>
  <input type="text" id="login" formControlName="login" class="form-control" placeholder="Login" required="" autofocus="">
  
  <label for="password" class="sr-only">Password</label>
  <input type="password" id="password" formControlName="password" class="form-control" placeholder="Senha" required="">
 
  
  <button class="btn btn-lg btn-primary btn-block" type="submit">Logar</button>
  <p class="mt-5 mb-3 text-muted">© 2017-2018</p>
</form>