<h1>Theòs Bookstore</h1>
<p>Tecnologias utilizadas:</p>
<ul>
  <li><a href='https://get.asp.net/'>ASP.NET Core</a> and <a href='https://msdn.microsoft.com/en-us/library/67ef8sbd.aspx'>C#</a> for cross-platform server-side code</li>
  <li><a href='https://angular.io/'>Angular</a> and <a href='http://www.typescriptlang.org/'>TypeScript</a> for client-side code</li>
  <li><a href='http://getbootstrap.com/'>Bootstrap</a> for layout and styling</li>
</ul>

<p>Requisitos:</p>
<ul>
  <content>
    <label>&#10003; Mostrar todos os livros cadastrados ordenados de forma ascendente pelo nome.</label>
    <br />
    <label>&#10003; Ao persistir, validar se o livro já foi cadastrado.</label>
    <br />
    <label>&#10003; O sistema deverá permitir criar, editar e excluir um livro.</label>
    <br />
    <label>&#10003; Os livros devem ser persistidos em um banco de dados.</label>
    <br />
    <label>&#10003; Mecanismo de log de registro e de erro.</label>
    <br />
    <label>&#10003; Persistência dos dados utilizando EF Core.</label>
    <br />
    <label>&#10003; Swagger na aplicação.</label>
    <br />
    <label>&#10003; SQL Server.</label>
    <br />
    <label>&#10003; Migrations.</label>
    <br />
    <label>&#10003; Níveis de acesso.</label>
    <br />
  </content>
</ul>

  
  
  

