@model Domain.Livros

@{
    ViewData["Title"] = "Create";
}

<h1>Adicionar novo livro</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NomeLivro" class="control-label"></label>
                <input asp-for="NomeLivro" class="form-control" />
                <span asp-validation-for="NomeLivro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataAquisicao" class="control-label"></label>
                <input asp-for="DataAquisicao" class="form-control" />
                <span asp-validation-for="DataAquisicao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QuantidadeExemplares" class="control-label"></label>
                <input asp-for="QuantidadeExemplares" class="form-control" />
                <span asp-validation-for="QuantidadeExemplares" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Adicionar" class="btn btn-primary" />
            </div>
            <div>
                <p>@ViewBag.Existe</p>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar para a lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
