<h1>Programador Backend (C#)</h1>
<h2>Instruções</h2>
<p>
  Esse teste é público. Todos os interessados que fizerem pull request receberão um feedback da equipe
  Theòs Sistemas
</p>
<ul>
  <li>Faça um fork deste repositório;</li>
  <li>Crie uma branch com o seu nome.</li>
  <li>Adicione seu currículo na raiz do repositório.</li>
  <li>Envie-nos o PULL-REQUEST para que seja avaliado.</li>
</ul>
<h2>O Teste</h2>
<p>
  Uma livraria da cidade teve um aumento no número de seus exemplares e está com um problema para identificar todos os livros que possui em estoque. Para ajudar a livraria foi solicitado a você desenvolver uma aplicação web para gerenciar estes exemplares.Requisitos
</p>
<ul>
  <li>O sistema deverá mostrar todos os livros cadastrados ordenados de forma ascendente pelo nome;</li>
  <li>O sistema deverá permitir criar, editar e excluir um livro;</li>
  <li>Os livros devem ser persistidos em um banco de dados.</li>
</ul>
<h2>Outros Requisitos:</h2>
<ul>
  <li>Para a persistência dos dados deve ser utilizado o Dapper ou Entity Core.</li>
  <li>Configurar o Swagger na aplicação</li>
  <li>Usar Microsfot SqlServer 2014 ou superior.</li>
  <li>Gerar Scripts e disponibilizá-los um uma pasta.</li>
</ul>
<h2>Observações:</h2>
<ul>
  <li>
    O sistema deverá ser desenvolvido na plataforma .NET com C#, usando o framework ASP.NET CORE
    (preferêncialmente 2.1, caso for usado outra versão, informar no pull-request)
  </li>
  <li>
    Deve conter autenticação com dois níveis de acesso, um administrador e um público, o usuário de nível
    público não terá autenticação, ou seja, terá acesso livre;
  </li>
</ul>
<h2>Diferencial:</h2>
<ul>
  <li>
    Implementar front-end para consumir a API em  Angular como framework Javascript.
  </li>
</ul>
<p>
  obs: Teste terá como avaliação principal os requisitos solicitados para o backend,  porém o frontend
  poderá ser critério de desempate.
</p>
