@{
    ViewData["Title"] = "Contatos";
}
<h3>@ViewData["Message"]</h3>

<address>
    Dyego Scofield Ferreira Furletti<br />
    Whatsapp: 34 99195-5370<br />
    Linkedin: <a href="https://www.linkedin.com/in/dyego-scofield/">https://www.linkedin.com/in/dyego-scofield/</a>
</address>

<address>
    <strong>E-mail:</strong> scofieldanalista@gmail.com
</address>
