.card-body small {
  font-weight: bold;
}

.card-img-top {
  width: 40%;
  margin: 0 auto;
}

p {
  margin-bottom: 0;
}

.col-md-6:not(.top) {
  margin-bottom: 30px;
}

.btn-add{
  margin-top: 32px;
}