<div class="row">
  <div class="col-lg-12">
    <div class="card bg-light">
        <div class="card-body">
          <div class="control-group">
          
            <div class="row">
              <div class="col-lg-9">
              <h4><strong>Lista Livro</strong> </h4>
           
            </div>  
            <div class="col-lg-3 text-right">
              <div class="btn_tableBarVG">
                  <button class="btn btn btn-outline-secondary" title="Nova Livro" [routerLink]="['/livro']"><i class="fa  fa-plus-square"></i></button>
                </div>
            </div>
        </div>
      </div>
      </div> 
  </div>
</div> 
</div>
<br><br> 
<div class="row">
    <div class="col-lg-12">
        <div> 
          <div class="ion-padding">
            <!-- Theme classes dark, material, bootstrap -->
            <ngx-datatable 
              class="material"
              [limit]="8" 
              [rows]="rows" 
              [rowHeight]="50"  
              [columnMode]="'force'" 
              [sortType]="'multi'" 
              [headerHeight]="50" 
              [footerHeight]="50"> 
                  <ngx-datatable-column name="COD" [width]="250">
                    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                        {{row.id}}
                    </ng-template>
                  </ngx-datatable-column>

                  <ngx-datatable-column name="TITULO" [width]="250">
                    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                        {{row.titulo}}
                    </ng-template>
                  </ngx-datatable-column>

                  <ngx-datatable-column name="AUTOR" [width]="150">
                    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                        {{row.autor}}
                    </ng-template>
                  </ngx-datatable-column>

                  <ngx-datatable-column name="DESCRIÇÃO" [width]="250">
                      <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                          {{row.descricao}}
                      </ng-template>
                  </ngx-datatable-column>                  

                  <ngx-datatable-column name="Estoque" [width]="50">
                  <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                      {{row.estoque}}
                  </ng-template>

                </ngx-datatable-column>

                <ngx-datatable-column name="" [width]="250">
                  <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                    <div style="white-space: nowrap;">
                      <table width="110" align="center">
                          <tr>
                            <td><i class="fa fa-pencil button-link" (click)="editar($event, row)" title="Editar"></i></td>
                            <td><i class="fa fa-trash button-link" (click)="excluir($event, row)" title="Deletar"></i></td> 
                          </tr>
                        </table>
                    </div>
                  </ng-template>
               </ngx-datatable-column>

            </ngx-datatable>
        
          </div>
      </div>
    </div>      
  </div>       

 <app-loader [show]="isLoadPanelVisible" [text]="'Aguarde...'"></app-loader>  