<h1>Hello Theós!</h1>
<p>Welcome to my test!</p>
<p>Unfortunately I had not enough time to do the front-end. It's not my expertise.</p>
<p>But, this is it. Every question requested by back-end i've done.</p>
<h3>Requirements</h3>
<ul>
  <li>The application show every registered book in database. I put a pagination on API side, but I had no time to write this on frontend</li>
  <li>The domains verifies, before register a new book, if it's is already registered. I have used the ISBN was second key for search.</li>
  <li>The application is fully CRUD funcional (by API only)</li>
  <li>The book needs to be stored in a database (SQLServer 2014+). I wrote a docker-compose file (in ./.docker folder). Just call a docker-compose up and everything is working!</li>
  <li>To log operations, I have used the Kibana + ElasticSearch. Is on same docker-compose file. Try insert a book or access <a href="https://localhost:5001/api/book/exceptiontest">Exception test</a></li>
</ul>
<h3>Others requirements</h3>
<ul>
  <li>ORM: Entity Framework Core</li>
  <li>Swashbuckle 5.4</li>
  <li><a href="https://hub.docker.com/_/microsoft-mssql-server">Microsoft SqlServer 2017</a></li>
  <li>Used migrations. ./src/TheosBookStore.Web/Migrations/**</li>
  <li>Asp.Net Core to netcoreapp3.1</li>
  <li>Not only SOLID, but a lot of patterns and principles</li>
  <li>Followed TDD principle to produce code.</li>
  <li>Use DDD strategies to design the application</li>
</ul>
<h3>Additional addresses</h3>
<ul>
  <li>Kibana: <a href="http://localhost:5601">http://localhost:5601</a></li>
  <li>ElasticSearch: <a href="http://localhost:9200">http://localhost:9200</a></li>
  <li>Swagger: <a href="https://localhost:5001/swagger/index.html">https://localhost:5001/swagger/index.html</a></li>
  <li><a href='https://get.asp.net/'>ASP.NET Core</a> and <a href='https://msdn.microsoft.com/en-us/library/67ef8sbd.aspx'>C#</a> for cross-platform server-side code</li>
  <li><a href='https://angular.io/'>Angular</a> and <a href='http://www.typescriptlang.org/'>TypeScript</a> for client-side code</li>
  <li><a href='http://getbootstrap.com/'>Bootstrap</a> for layout and styling</li>
</ul>
