USE [master]
GO
/****** Object:  Database [LIVRARIA]    Script Date: 06/08/2018 14:39:54 ******/
CREATE DATABASE [LIVRARIA]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LIVRARIA', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\LIVRARIA.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'LIVRARIA_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\LIVRARIA_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LIVRARIA].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LIVRARIA]
GO
USE [LIVRARIA]
GO
/****** Object:  Table [dbo].[AUTENTICACAO]    Script Date: 06/08/2018 14:39:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AUTENTICACAO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[LOGIN] [nvarchar](50) NOT NULL,
	[SENHA] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_AUTENTICACAO] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LIVRO]    Script Date: 06/08/2018 14:39:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LIVRO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NOME] [nvarchar](255) NOT NULL,
	[AUTOR] [nvarchar](255) NOT NULL,
	[CATEGORIA] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_LIVRO] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
