<div class="row">
  <div class="col-12">
      <div class="row">
          <div class="col-12 col-md-6 col-lg-4" *ngFor="let book of bookList" >
              <div class="card">
                  <img class="card-img-top" src="{{images_url}}/{{book.photo}}" alt="{{ book.name }}">
                  <div class="card-body">
                      <h4 class="card-title"><a title="{{ book.name }}">{{ book.name }}</a></h4>
                      <p class="card-text">{{ book.description_short }}
                      </p>
                      <h4><span class="badge badge-success">R$ {{ book.price}}</span></h4>
                  </div>
                  <div class="card-footer" appSecure>
                    <div class="row">
                        <div class="col-6">
                            <button (click)="editar(book.id)" class="btn btn-primary">Editar</button>
                        </div>
                        <div class="col-6">
                            <button (click)="remover(book.id)" class="btn btn-danger" >Remover</button>
                        </div>
                    </div>
                  </div>
              </div>
          </div>
      </div>
  </div>

</div>
