@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <img src="~/img/logotheos.jpg" />
    <h1 class="display-4">Bem-vindo(a) à Theos Livraria</h1>
    
    <h2><a asp-controller="Livros" asp-action="Index">Acesso ao catálogo >></a></h2>
</div>
