<div class="container">
  <p>Books Adventure está em funcionamento desde 1982 em Perdizes, São Paulo.</p>
  <p>Inicialmente com alguns poucos exemplares, cresceu e agora conta com um acervo de variados livros.</p>
  <p>Alugamos o espaço para eventos culturais: seja um workshop, show, peça de teatro, clube de leitura e lançamento de livro.</p>
  <div class="flex-row1">
    <div class="card box-1" style="width: 15rem;">
      <img src="assets/clube_leitura.jpg" class="card-img-top" alt="Clube de Leitura">
      <div class="card-body d-flex align-items-center justify-content-center">
        <p class="card-text">Clube de Leitura</p>
      </div>
    </div>
    <div class="card box-1" style="width: 15rem;">
      <img src="assets/workshop.jpg" class="card-img-top" alt="Workshops">
      <div class="card-body d-flex align-items-center justify-content-center">
        <p class="card-text">Workshops</p>
      </div>
    </div>
    <div class="card box-1" style="width: 15rem;">
      <img src="assets/show2.jpg" class="card-img-top" alt="Espaço para shows">
      <div class="card-body d-flex align-items-center justify-content-center">
        <p class="card-text">Espaço para Shows</p>
      </div>
    </div>
    <div class="card box-1" style="width: 15rem;">
      <img src="assets/exposition.jpg" class="card-img-top" alt="Espaço para exposições">
      <div class="card-body d-flex align-items-center justify-content-center">
        <p class="card-text">Espaço para Exposições</p>
      </div>
    </div>

  </div>
</div>


